<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title th:text="#{AgregarCpii.title}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link
	href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
	rel="stylesheet">
<link th:href="@{/css/StyleListar.css}" rel="stylesheet" />
<link th:href="@{/css/shards.min.css}" rel="stylesheet" />


</head>
<body>

	<div th:insert=Plantilla/MenuAdministrador :: Menu></div>

	<div class="row1">
		<h2 class="mb-5" th:text="#{AgregarCpii.title}"></h2>
		<div class="listado1">
			<div th:insert=Plantilla/Mensaje :: Mensajes></div>
			
			<form action="instructorFiltradoCorreo" method="post">
				<div class="row">
					<div class="form-group col-md-6">
						<label class="col-form-label" th:text="#{AgregarCpii.nameFilterByMail}"></label> <input
							type="text" class="form-control" id="correoFiltrar"
							name="correoFiltrar"
							th:placeholder="#{AgregarCpii.nameFilterByMailHolder}">
					</div>

					<div class="form-group col-md-6">
						<div class="col-md-6 mt-5">
							<input type="submit" class="btn btn-primary" th:value="#{AgregarCpii.buttonFilter}">
						</div>

					</div>
				</div>

			</form>
			<form action="#" th:action="@{/AgregarClasePuedenImpartirInstructor}"
				th:object="${clasePuedenImpartirInstructor}" method="post">
				<div class="row">

					<div class="form-group col-md-6">
						<label for="modelo" th:text="#{AgregarCpii.nameInstructor}"></label> <select
							th:field="*{instructor.id}" id="idInstrcutor" required="required"
							class="form-control">


							<option th:fragment="istructoresOrdenados"
								th:each="instructoresOrde:${istructoresOrdenados} "
								th:value="${instructoresOrde.id}"
								th:text="${instructoresOrde.nombre}" />
						</select> <span th:if="${#fields.hasErrors('instructor')}"
							th:errors="*{instructor}" class="text-danger"></span>
					</div>

					<div class="form-group col-md-6">
						<label for="modelo"  th:text="#{AgregarCpii.nameClassImpart}"></label> <select
							th:field="*{claseImpartir.id}" id="idclaseImpartir"
							required="required" class="form-control">


							<option th:fragment="clasesImpartirOrdenadas"
								th:each="claseImpartirOrde:${clasesImpartirOrdenadas} "
								th:value="${claseImpartirOrde.id}"
								th:text="${claseImpartirOrde.nombre}" />
						</select> <span th:if="${#fields.hasErrors('claseImpartir')}"
							th:errors="*{claseImpartir}" class="text-danger"></span>
					</div>

				</div>



				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary" th:value="#{AgregarCpii.buttonAddClassImpart}">
					</div>

				</div>
			</form>

			<form method="get" action="/listaTodasClasePuedenImpartirInstructor">
				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary" th:value="#{AgregarCpii.Return}">
					</div>

				</div>
			</form>

		</div>
	</div>

</body>
</html>