<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title th:text="#{AgregarClase.titles}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link
	href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
	rel="stylesheet">
<link th:href="@{/css/StyleListar.css}" rel="stylesheet" />
<link th:href="@{/css/shards.min.css}" rel="stylesheet" />


</head>
<body>

	<div th:insert=Plantilla/MenuAdministrador :: Menu></div>

	<div class="row1">
		<h2 class="mb-5" th:text="#{AgregarClase.titles}"></h2>
		<div class="listado1">
			<div th:insert=Plantilla/Mensaje :: Mensajes></div>

			<form action="#" th:action="@{/AgregarClase}" th:object="${clase}"
				method="post">
				<div class="row">
					<div class="form-group col-md-6">
						<label for="modelo" th:text="#{AgregarClase.room}"></label> <select
							th:field="*{sala.id}" id="idSala" required="required"
							class="form-control">


							<option th:fragment="salasOrdenadas"
								th:each="salasO:${salasOrdenadas} " th:value="${salasO.id}"
								th:text="${salasO.ubicacion +' - '+ salasO.tiposala.nombre}" />
						</select> <span th:if="${#fields.hasErrors('sala')}" th:errors="*{sala}"
							class="text-danger"></span>
					</div>
					<div class="form-group col-md-6">

						<label for="descripcion" class="col-form-label"
							th:text="#{AgregarClase.Description}"></label>
						<textarea class="form-control" th:field="*{descripcion}"
							id="descripcion" rows="3"
							th:placeholder="#{AgregarClase.DescriptionHolder}"></textarea>
						<span th:if="${#fields.hasErrors('descripcion')}"
							th:errors="*{descripcion}" class="text-danger"></span>

					</div>

					<div class="form-group col-md-6">
						<label for="modelo" class="col-form-label"
							th:text="#{AgregarClase.enabledclasses}"></label> <select
							th:field="*{clasepuedenimpartirinstructor.id}"
							id="idclasepuedenimpartirinstructor" required="required"
							class="form-control">


							<option th:fragment="clasehabilitadasOrdenadas"
								th:each="clasehabilitadasO:${clasehabilitadasOrdenadas} "
								th:value="${clasehabilitadasO.id}"
								th:text="${clasehabilitadasO.claseImpartir.nombre +' - '+ clasehabilitadasO.instructor.nombre}" />
						</select> <span
							th:if="${#fields.hasErrors('clasepuedenimpartirinstructor')}"
							th:errors="*{clasepuedenimpartirinstructor}" class="text-danger"></span>
					</div>

					<div class="form-group col-md-6">

						<label for="fechacadena" class="col-form-label"
							th:text="#{AgregarClase.date}"></label> <input type="date"
							th:field="*{fechacadena}" class="form-control" id="fechacadena"
							placeholder="fechacadena"> <span
							th:if="${#fields.hasErrors('fechacadena')}"
							th:errors="*{fechacadena}" class="text-danger"></span>



					</div>






				</div>
				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary"
							th:value="#{AgregarClase.buttonAddPartner}">
					</div>

				</div>
			</form>

			<form method="get" action="/ListarClase">
				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary"
							th:value="#{AgregarClase.buttonReturn}">
					</div>

				</div>
			</form>

		</div>
	</div>

</body>
</html>