<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; utf-8">

<title th:text="#{AgregarSocio.title}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link
	href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
	rel="stylesheet">
<link th:href="@{/css/StyleListar.css}" rel="stylesheet" />
<link th:href="@{/css/shards.min.css}" rel="stylesheet" />


</head>
<body>

	<div th:insert=Plantilla/MenuAdministrador :: Menu></div>

	<div class="row1">
		<h2 class="mb-5" th:text="#{AgregarSocio.title}"></h2>
		<div class="listado1">
			<div th:insert=Plantilla/Mensaje :: Mensajes></div>
			
			<form action="#" th:action="@{/AgregarSocio}" th:object="${socio}"
				method="post" enctype="multipart/form-data">

				<input type="hidden" id="agregarUrl" th:field="*{urlFoto}">
				<input type="hidden" id="cambioUrl" name="cambioUrl" value="false">


				<div class="row">
					<div class="form-group col-md-6">
						<label for="Cedula" class="col-form-label" th:text="#{AgregarSocio.cedula}"></label> <input
							type="text" th:field="*{Cedula}" class="form-control"
							id="Cedula" th:placeholder="#{AgregarSocio.cedulaHolder}" required> <span
							th:if="${#fields.hasErrors('Cedula')}" th:errors="*{Cedula}"
							class="text-danger"></span>
					</div>
					<div class="form-group col-md-6">
						<label for="nombre" class="col-form-label" th:text="#{AgregarSocio.name}"></label> <input
							type="text" th:field="*{nombre}" class="form-control" id="nombre"
							th:placeholder="#{AgregarSocio.nameHolder}" required> <span
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
							class="text-danger"></span>
					</div>
					<div class="form-group col-md-6">
						<label for="CorreoElectronico" class="col-form-label" th:text="#{AgregarSocio.email}"></label>
						<input type="email" th:field="*{correoElectronico}"
							class="form-control" id="correoElectronico"
							th:placeholder="#{AgregarSocio.emailHolder}" required> <span
							th:if="${#fields.hasErrors('correoElectronico')}"
							th:errors="*{correoElectronico}" class="text-danger"></span>
					</div>
					<div class="form-group col-md-6">
						<label for="celular" class="col-form-label" th:text="#{AgregarSocio.phone}"></label> <input
							type="text" th:field="*{celular}" class="form-control"
							id="celular" th:placeholder="#{AgregarSocio.phoneHolder}" required> <span
							th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"
							class="text-danger"></span>
					</div>
					<div class="form-group col-md-6">
						<label for="datosbancarios" class="col-form-label" th:text="#{AgregarSocio.BankAccount}">
							</label> <input type="text" th:field="*{datosbancarios}"
							class="form-control" id="datosbancarios"
							th:placeholder="#{AgregarSocio.BankAccountHolder}" required> <span
							th:if="${#fields.hasErrors('datosbancarios')}"
							th:errors="*{datosbancarios}" class="text-danger"></span>
					</div>
					<div class="form-group col-md-6">
						<label for="direccion" class="col-form-label" th:text="#{AgregarSocio.address}"></label> <input
							type="text" th:field="*{direccion}" class="form-control"
							id="direccion" th:placeholder="#{AgregarSocio.addressHolder}" required> <span
							th:if="${#fields.hasErrors('direccion')}"
							th:errors="*{direccion}" class="text-danger"></span>
					</div>

					<div class="form-group col-md-6">
						<label for="profesion" class="col-form-label" th:text="#{AgregarSocio.profession}"></label> <input
							type="text" th:field="*{profesion}" class="form-control"
							id="profesion" th:placeholder="#{AgregarSocio.professionHolder}" required> <span
							th:if="${#fields.hasErrors('profesion')}"
							th:errors="*{profesion}" class="text-danger"></span>
					</div>

					<div class="form-group col-md-6">
						<label for="contrasena" class="col-form-label" th:text="#{AgregarSocio.password}"></label>
						<input type="password" th:field="*{contrasena}"
							class="form-control" id="Contrasena" th:placeholder="#{AgregarSocio.passwordHolder}" required>
						<span th:if="${#fields.hasErrors('contrasena')}"
							th:errors="*{contrasena}" class="text-danger"></span>
						
					</div>


					<div class="form-group col-md-6">
						<label for="file-upload" class="subir btn btn-primary" th:text="#{AgregarSocio.buttonUploadImage}">
							 <i class="fas fa-cloud-upload-alt"></i>
						</label> <input type="file" id="file-upload" accept="image/*"
							class="form-control-file" style='display: none;' name="file">
						<span th:if="${#fields.hasErrors('urlFoto')}"
							th:errors="*{urlFoto}" class="text-danger"></span>
						<div>
							<img id="imcargar" src="/image/sinfoto.jpg"
								class="img-fluid rounded mt-2"
								style='width: 14rem; heigth: auto;'>
						</div>

					</div>
					
					<div class="form-group col-md-6">
						<label for="repContrasena" class="col-form-label" th:text="#{AgregarSocio.confirmPassword}"></label>
						<input type="password" th:field="*{repContrasena}"
							class="form-control" id="repContrasena" th:placeholder="#{AgregarSocio.confirmPasswordHolder}" required>
						<span th:if="${#fields.hasErrors('repContrasena')}"
							th:errors="*{repContrasena}" class="text-danger"></span>
					</div>




				</div>
				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary" th:value="#{AgregarSocio.buttonAddPartner}">
					</div>

				</div>
			</form>
			
			<form method="get" action="/ListarSocio">
				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary" th:value="#{AgregarSocio.buttonReturn}">
					</div>

				</div>
			</form>

		</div>
	</div>


	<script src="js/subirImagen.js" th:src="@{/js/subirImagen.js}"></script>

</body>
</html>