<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title th:text="#{ActualizarSala.title}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link
	href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
	rel="stylesheet">
<link th:href="@{/css/StyleListar.css}" rel="stylesheet" />
<link th:href="@{/css/shards.min.css}" rel="stylesheet" />
</head>
<body>

	<div th:insert=Plantilla/MenuAdministrador :: Menu></div>

	<div class="row1">

		<h2 class="mb-5" th:text="#{ActualizarSala.title}"></h2>
		<div class="listado1">
		<div th:insert=Plantilla/Mensaje :: Mensajes></div>

			<form action="#" th:action="@{/EditarSala/{id}(id=${sala.id})}"
				th:object="${sala}" method="post" enctype="multipart/form-data">
				
				<input type="hidden" class="form-control" th:field="*{id}"
					th:value="${sala.id}"> 
					<input type="hidden"
					id="agregarUrl" th:field="*{urlFoto}" th:value="${sala.urlFoto}">
				<input type="hidden" id="cambioUrl" name="cambioUrl" value="false">
				
				<div class="row">
				
					<input type="hidden" th:field="*{id}" >
					
					
					<div class="form-group col-md-6">
						<label for="metrosCuadrados" class="col-form-label" th:text="#{ActualizarSala.squareMeter}"></label> <input
							type="text" th:field="*{metrosCuadrados}" class="form-control" id="metrosCuadrados"
							th:placeholder="#{ActualizarSala.squareMeterHolder}" required> <span
							th:if="${#fields.hasErrors('metrosCuadrados')}" th:errors="*{metrosCuadrados}"
							class="text-danger"></span>
					</div>
					<div class="form-group col-md-6">
						<label for="CorreoElectronico" class="col-form-label" th:text="#{ActualizarSala.location}"></label>
						<input type="text" th:field="*{ubicacion}"
							class="form-control" id="ubicacion"
							th:placeholder="#{ActualizarSala.locationHolder}" required> <span
							th:if="${#fields.hasErrors('ubicacion')}"
							th:errors="*{ubicacion}" class="text-danger"></span>
					</div>
					
					
					
					<div class="form-group col-md-6">
						<label for="tiposala" class="col-form-label" th:text="#{ActualizarSala.type_Room}"></label> 
						<input
							type="hidden" th:field="*{tiposala.id}" class="form-control" id="nombre"
							placeholder="nombre" required> 
							<input
							type="text" th:value="*{tiposala.nombre}" class="form-control" id="nombre"
							placeholder="nombre" readonly >
					</div>
					
					<div class="form-group col-md-6">
						<label for="file-upload" class="subir btn btn-primary" th:text="#{ActualizarSala.buttonUploadImage}">
							 <i class="fas fa-cloud-upload-alt"></i>
						</label> <input type="file" id="file-upload" accept="image/*"
							class="form-control-file" style='display: none;' name="file">
						<span th:if="${#fields.hasErrors('urlFoto')}"
							th:errors="*{urlFoto}" class="text-danger"></span>
						<div id="zona">
							<img id="imcargar" th:src="${sala.urlFoto}"
								alt="${sala.urlFoto}" class="img-fluid rounded mt-2"
								style='width: 12rem; heigth: auto;'>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary"
							th:value="#{ActualizarSala.buttonAddRoom}">
					</div>

				</div>
			</form>
			<form method="get" action="/ListarSala">
				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary" 	th:value="#{ActualizarSala.buttonReturn}">
					</div>

				</div>
			</form>
		</div>
	
	</div>

<script src="js/subirImagen.js" th:src="@{/js/subirImagen.js}"></script>

</body>
</html>