<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title th:text="#{listaIncripcionClase.titles}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link
	href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
	rel="stylesheet">
<link th:href="@{/css/StyleListar.css}" rel="stylesheet" />
<link th:href="@{/css/shards.min.css}" rel="stylesheet" />


</head>
<body>

	<div th:insert=Plantilla/MenuSocio :: Menu></div>

	<div class="row1">

		<div class="listado1">
			<div th:insert=Plantilla/Mensaje :: Mensajes></div>
				<h2 class="mb-5" th:text="#{listaIncripcionClase.titles}"></h2>
			
			
			<form action="#" th:action="@{/AgregarSocioClase}"
				th:object="${socioClase}" method="post">
				<div class="row">

					<div class="form-group col-md-6">
						<label for="modelo" th:text="#{listaIncripcionClase.name}"></label> <select
							th:field="*{clase.id}" id="idClase" required="required"
							class="form-control">


							<option th:fragment="clasesOrdenadas"
								th:each="clasesOrde:${clasesOrdenadas} "
								th:value="${clasesOrde.id}"
								th:text="${clasesOrde.clasepuedenimpartirinstructor.claseImpartir.nombre +' - '+ clasesOrde.sala.ubicacion +' - '+ clasesOrde.clasepuedenimpartirinstructor.instructor.nombre +' - '+ clasesOrde.diaHora } " />
						</select> <span th:if="${#fields.hasErrors('clase')}"
							th:errors="*{clase}" class="text-danger"></span>
					</div>

					<div class="form-group col-md-6">
						<label for="modelo"  th:text="Socio"></label> <select
							th:field="*{socio.id}" id="idclaseImpartir"
							required="required" class="form-control">


							<option th:fragment="sociosOrdenados"
								th:each="sociosOrde:${sociosOrdenados} "
								th:value="${sociosOrde.id}"
								th:text="${sociosOrde.nombre}" />
						</select> <span th:if="${#fields.hasErrors('socio')}"
							th:errors="*{socio}" class="text-danger"></span>
					</div>

				</div>



				<div class="row">
					<div class="col-md-6 mt-5">
						<input type="submit" class="btn btn-primary" th:value="#{ListarIncripcionClase.Add}">
					</div>

				</div>
			</form>



		</div>
	</div>
	
</body>
</html>